<style type="text/css">
<!--
	body	{
				background-color: #ffffff; 
		 		color: Black;  
		 		font : normal 12px Verdana, Arial, Helvetica, sans-serif;
			}
	td		{
				color : Black; 
				font : normal 12px Verdana, Arial, Helvetica, sans-serif;
			}
	option	{
				font : normal 12px Verdana, Arial, Helvetica, sans-serif;
			}
	select	{	
				font : normal 12px Verdana, Arial, Helvetica, sans-serif;
			}
    A:link{color: #cc0000;}
    A:active{color: #ff3333;} 
    A:visited{color: #660000;}
	A:hover{color: #ff3333;}

    A.GreyFooterAnchor:link{color : #BDBFBE;; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-variant: normal; font-size: 12px ; text-decoration: none}
    A.GreyFooterAnchor:active{color : #BDBFBE;; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-variant: normal; font-size: 12px ; text-decoration: none} 
    A.GreyFooterAnchor:visited{color : #BDBFBE;; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-variant: normal; font-size: 12px ; text-decoration: none}
	A.GreyFooterAnchor:hover{color : #BDBFBE;; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-variant: normal; font-size: 12px ; text-decoration: none}

    A.RedBodyBoldLink:link{
      color : #c00000; 
      font-family: Verdana, Arial, Helvetica, sans-serif; 
      font-style: normal; 
      font-weight: bold; 
      font-variant: normal; 
      font-size: 14px ; 
      text-decoration: none
    }

    A.RedBodyBoldLink:active{
      color : #c00000; 
      font-family: Verdana, Arial, Helvetica, sans-serif; 
      font-style: normal; 
      font-weight: bold; font-variant: normal; 
      font-size: 14px; 
      text-decoration: none
    } 

    A.RedBodyBoldLink:visited{
      color : #c00000; 
      font-family: Verdana, Arial, Helvetica, sans-serif; 
      font-style: normal; 
      font-weight: bold; 
      font-variant: normal; 
      font-size: 14px; 
      text-decoration: none
    }

    A.RedBodyBoldLink:hover{
      color : #c00000; 
      font-family: Verdana, Arial, Helvetica, sans-serif; 
      font-style: normal; 
      font-weight: bold; 
      font-variant: normal; 
      font-size: 14px; 
      text-decoration: none
    }

	.HdLogoCellBgcolor {  background-color: #CA0202}
	.HdBannerCellBgcolor {  background-color: #2B2C2E}
	.HdNavTableBgcolor { background-color: #CA0202 }
	.LeftNavMainBgcolor {  background-color: #CACECF}
	.LeftNavLabelBlack { background-color: #000000}
	.LeftNavLabelText { color : White;; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px}
	.LeftNavLabelSmallText { color : #BDBFBE;; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-variant: normal; font-size: 12px}
	.LeftNavBodyText { color : Black; font : normal 12px Verdana, Arial, Helvetica, sans-serif;}
	.LeftNavBodyTextBold {  color : Black;  font : bold 12px Verdana, Arial, Helvetica, sans-serif;}
	.LeftNavBodyTextGrey{ color : #59595B; font : normal 9px Verdana, Arial, Helvetica, sans-serif;}.LeftNavLabelGrey { background-color: #6F7374}
	.BodyText { color : Black; font : normal 12px Verdana, Arial, Helvetica, sans-serif; }
	.RedBodyText { color : #CC0000; font : normal 12px Verdana, Arial, Helvetica, sans-serif; }
	.RedBodyTitleText { color : #CC0000; font : bold 12px Arial, Helvetica, sans-serif;}
	.BodyTitleBigText { color : #345B60; font : bold 15px Arial, Helvetica, sans-serif;}
	.RedBodyTitleBigText { color : #CC0000; font : bold 15px Arial, Helvetica, sans-serif;}
	.BodyTitleLargeText { color : #345B60; font : bold 20px Arial, Helvetica, sans-serif;}
	.BodyTitleEnormousText { color : #345B60; font : bold 25px Arial, Helvetica, sans-serif;}
	.RedBodyTitleLargeText { color : #CC0000; font : bold 20px Arial, Helvetica, sans-serif;}
	.RedNoticeText{ color: #CC0000; font : bold 12px Verdana,Arial, Helvetica, sans-serif; font-style : italic;}
	.BodyTitleText { color : #345B60; font : bold 12px Arial, Helvetica, sans-serif;}
	.BodyTitleSmallText { color : #345B60; font : normal 12px Arial, Helvetica, sans-serif;}
	.BodyRedLinks { color : #CA0202; font-weight : bold; font-size: 11px; font-variant: normal; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none }
	.BodySmallTextGrey { color : #59595B; font : normal 12px Verdana, Arial, Helvetica, sans-serif; }
	.BodyRightColTableBgcolor1 {  background-color: #F4F5F7}
	.BodyTextBoldGrey { color : #59595B; font : bold 12px Verdana, Arial, Helvetica, sans-serif; }
	.BodyRightColTableBgcolor2 { background-color: #EAEEEF}
	.FooterLinksTextBold { color : White;; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px ; text-decoration: none}
	.FooterLinksTextSmall { color : #BDBFBE;; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-variant: normal; font-size: 12px ; text-decoration: none}
	.FooterCellBgcolor {  background-color: #DFE0E0}
	.FooterLinksCellBgcolor { background-color: #000000}
	.FooterLinkDivider {  color: #CCCCCC}
	.FooterText { color : #666666; font : normal 11px Verdana, Arial, Helvetica, sans-serif; }
	.BodyVerticalDividerBgcolor {  background-color: #7B8083}
	.BodyHorzontalDividerBgcolor { background-color: #7B8083 }
	.BodyTextBold { color : #000000; font : bold 12px Verdana, Arial, Helvetica, sans-serif; }
	.TMBodyTitleBold { color : Black; font : bold 12px Verdana, Arial, Helvetica, sans-serif; }
	.ErrorText { color : #cc0000; font : bold 12px Verdana, Arial, Helvetica, sans-serif; }
	.WhiteText { color : #FFFFFF; font : bold 12px Verdana, Arial, Helvetica, sans-serif; }
-->
.FooterLinkDivider {  color: #CCCCCC}
.FooterRedLinks {  color: #CA0202; text-decoration: none}
.LeftNavLinks { color: #000000; font : 10px Verdana, Arial, Helvetica, sans-serif; text-decoration: none }
</style>

